@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: white;
  height: 100vh;
  width: 100vw;
}



/* Otros estilos globales aquí */

/* Estilos del Loader */
.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid;
    border-color: #766DF4 #0000;
    animation: s1 1s infinite;
  }

  button {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
  }
  
  button:hover {
    box-shadow: none;
  }
  
  
  @keyframes s1 {
    to {
      transform: rotate(.5turn);
    }
  }
  
